@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    font: var(--font-m);
    color: var(--primary-color);
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: calc(100% - var(--sidebar-width));
}

*::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background-color: var(--primary-inverted-color);
    border: 2px solid var(--primary-color);
    border-radius: 20px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}
