.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}

.outline_red {
    padding: 10px 15px;
    border: 1px solid var(--error-color);
    color: var(--error-color);
    background: none;
}

.confirm {
    color: #edf1fd;
    background-color: #ff4f66;
    border-radius: 8px;
    padding: 5px 12px;
    border: none;
}

.disabled {
    opacity: 0.5;
}
