.app_theme_dark {
    --bg-color: #1b1e24;
    --navbar-bg-color: #1f2937;
    --navbar-bottom-line-color: #04081e;
    --sidebar-bg-color: #1f2937;
    --primary-color: #edf1fd;
    --secondary-color: #9ba1b2;
    --loader-color: #edf1fd;
}
