.app_theme_dark {
    --bg-color: #1b1e24;
    --navbar-bg-color: #1f2937;
    --navbar-bottom-line-color: #04081e;
    --sidebar-bg-color: #1f2937;
    --primary-color: #edf1fd;
    --secondary-color: #9ba1b2;
    --loader-color: #edf1fd;
    --error-color: #ff4f66;
    --input-color: #2a3143;
    --primary-inverted-color: #1f2937;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: #1f2937ff;

    // code
    --code-bg: #2b2f34;
}
