.app_theme_light {
    --bg-color: #edf1fd;
    --navbar-bg-color: #d7dae5;
    --navbar-bottom-line-color: #9ba1b2;
    --sidebar-bg-color: #d7dae5;
    --primary-color: #1f2937;
    --secondary-color: #354153;
    --loader-color: #1f2937;
    --error-color: #ff4f66;
    --input-color: #d7dae5;
    --primary-inverted-color: #edf1fd;
}
