.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--navbar-bg-color);
    display: flex;
    align-items: center;
    padding: 20px 50px;
    border-bottom: 1px solid var(--navbar-bottom-line-color);
    justify-content: space-between;
}

.loginButton {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions {
    margin-left: auto;
    display: flex;
}
