.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.editBtn {
    margin-left: auto;
    padding: 10px 30px;
}

.saveBtn {
    margin-left: 20px;
    padding: 10px 30px;
}
