.ProfileCard {
    padding: 20px;
    border: 2px solid var(--secondary-color);
}

.header {
    display: flex;
    justify-content: space-between;
}

.editBtn {
    margin-left: auto;
    padding: 10px 30px;
}

.input {
    margin-top: 40px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 560px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 560px;
}

.data {
    display: flex;
}

.form {
    width: 100%;
    margin-left: 30px;
}

.editing {
    border: 2px solid var(--primary-color);
}
